.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/errors/*
application/hooks/*
application/language/*
application/third_party/*
application/config/*
application/core/*
application/helpers/*
application/libraries/*

system/*
user_guide/*